<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="span12">
                <i class="icon-tasks page-title-icon"></i>

                <h2>erreur / </h2>
                <p>500!</p>
            </div>
        </div>
    </div>
</div>
<div class="services-full-width container">
    <div class="row">
        <div class="container presentation">
            <p>Le serveur web n'est pas en mesure de traiter la requête.<br>
                Réessayez ultérieurement.
            </p>
            <img src="{{ asset('bundles/stcsite/img/404.jpg') }}" alt="Symfony Tunisia Community - Erreur 404"
                 title="Symfony Tunisia Community, Erreur 404" height="304" width="306">
            <div class="retour-bloc">
                <a href="{{ path('home') }}"
                   class="retour-error iconfont-arrow-left"><span>retour à l'accueil</span></a>
            </div>
        </div>
    </div>
</div>