# Bootstrap
app/bootstrap*
.buildpath
.gitignore~

# Symfony directories
vendor/*
*/bin/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/assetic/*
web/css/*
web/js/*
# Configuration files
app/config/parameters.yml

#composer
composer.lock
composer.phar

# eclipse
.project
.settings/
.vagrant

