<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="span12">
                <i class="icon-tasks page-title-icon"></i>

                <h2>Symfony TN /</h2>

                <p>Planning</p>
            </div>
        </div>
    </div>
</div>
<div class="services-full-width container">
    <div class="row">
        <div class="services-full-width-text span12">
            <h4>A propos Symfony TN</h4>

            <p>Le <span class="red">SYMFONYTN</span> en quelques mots :

                 Il s’agit d’un événement unique dans un pays arabe et en Afrique.
            </p>


            <p>
                Durant une journée , des conférenciers sont
                invités à venir partager les soluCons qu’ils appliquent au quoCdien pour
                aider les développeurs et les chefs de projet à relever les défis pour le développement professionnel
                des applicaCons Symfony.

                C’est une occasion unique d’échanger non seulement avec l’équipe au cœur de Symfony, des experts locaux
                et internaConaux mais aussi avec les sponsors, et de pouvoir ainsi découvrir des foncConnalités de
                Symfony, les usages les plus avancés ainsi que son évoluCon pour les années à venir.
            </p>

            <div class="col-md-9">
                <article>
                    <h4>Planning</h4>

                    <h2 class="schedule-date">Vendredi 17 Avril</h2>
                    <table class="schedule" cellspacing="0">
                        <tbody>
                        <tr class="talk odd">
                            <th class="hours">08:00<br>08:45</th>
                            <td width="100%" colspan="1">

                                <span class="schedule-title">
                                    <a>Accueil - Petit Déjeuner</a>
                                </span>
                            </td>
                        </tr>
                        <tr class="talk odd">
                            <th class="hours">08:45<br>09:00</th>
                            <td width="100%" colspan="1">

                                <span class="schedule-title">
                                    <a>Discours d'ouverture</a>
                                </span>
                            </td>
                        </tr>
                        <tr class="talk odd">
                            <th class="hours">09:00<br>09:40</th>
                            <td width="100%" colspan="1">

                                <span class="schedule-title">
                                    <a>Keynote </a>
                                </span>
                                <br>
                                 <span class="schedule-speaker">
                                    <a target="_blank" href="https://connect.sensiolabs.com/profile/fabpot">
                                        Fabien Potencier</a>
                                 </span>
                            </td>
                        </tr>
                        <tr class="talk odd">
                            <th class="hours">09:45<br>10:25</th>
                            <td width="100%" colspan="1">

                                <span class="schedule-title">
                                    <a>TBD</a>
                                </span>
                                <br>
                                 <span class="schedule-speaker">
                                    <a target="_blank" href="https://connect.sensiolabs.com/profile/bschussek">
                                        Bernhard Schussek
                                    </a>
                                 </span>
                            </td>
                        </tr>

                        <tr class="talk odd">
                            <th class="hours">10:25<br>10:45</th>
                            <td width="100%" colspan="1">

                                <span class="schedule-title">
                                    <a>Pause</a>
                                </span>
                            </td>
                        </tr>

                        <tr class="talk odd">
                            <th class="hours">10:45<br>11:25</th>
                            <td width="100%" colspan="1">

                                <span class="schedule-title">
                                    <a>Sonata Project</a>
                                </span>
                                <br>
                                 <span class="schedule-speaker">
                                    <a target="_blank" href="https://connect.sensiolabs.com/profile/rande">
                                        Thomas Rabaix</a>
                                 </span>
                            </td>
                        </tr>

                        <tr class="talk odd">
                            <th class="hours">11:30<br>12:10</th>
                            <td width="100%" colspan="1">

                                <span class="schedule-title">
                                    <a>MongoDB/CouchDB</a>
                                </span>
                                <br>
                                 <span class="schedule-speaker">
                                    <a target="_blank" href="#">
                                        Salma Chakroun</a>
                                 </span>
                            </td>
                        </tr>

                        <tr class="talk odd">
                            <th class="hours">12:10<br>13:45</th>
                            <td width="100%" colspan="1">

                                <span class="schedule-title">
                                    <a>Déjeuner</a>
                                </span>
                            </td>
                        </tr>

                        <tr class="talk odd">
                            <th class="hours">13:45<br>14:25</th>
                            <td width="100%" colspan="1">

                                <span class="schedule-title">
                                    <a>BDD & Symfony</a>
                                </span>
                                <br>
                                 <span class="schedule-speaker">
                                    <a target="_blank" href="https://connect.sensiolabs.com/profile/rmed19">
                                        Mohammed Rhamnia</a>
                                 </span>
                            </td>
                        </tr>

                        <tr class="talk odd">
                            <th class="hours">14:30<br>15:10</th>
                            <td width="100%" colspan="1">

                                <span class="schedule-title">
                                    <a>Déploiement avec Docker</a>
                                </span>
                                <br>
                                 <span class="schedule-speaker">
                                    <a target="_blank" href="https://connect.sensiolabs.com/profile/couac">
                                        William Durand </a>
                                 </span>
                            </td>
                        </tr>

                        <tr class="talk odd">
                            <th class="hours">15:10<br>15:30</th>
                            <td width="100%" colspan="1">

                                <span class="schedule-title">
                                    <a>Pause</a>
                                </span>
                            </td>
                        </tr>

                        <tr class="talk odd">
                            <th class="hours">15:30<br>16:10</th>
                            <td width="100%" colspan="1">

                               <span class="schedule-title">
                                    <a>Pourquoi votre projet interne serait mieux en open-source sur GitHub</a>
                                </span>
                                <br>
                                 <span class="schedule-speaker">
                                    <a target="_blank" href="https://connect.sensiolabs.com/profile/pborreli">
                                        Pascal Borreli</a>
                                 </span>
                            </td>
                        </tr>

                        <tr class="talk odd">
                            <th class="hours">16:15<br>16:55</th>
                            <td width="100%" colspan="1">

                                <span class="schedule-title">
                                    <a>Integrer elasticsearch dans un projet symfony2</a>
                                </span>
                                <br>
                                 <span class="schedule-speaker">
                                    <a target="_blank" href="https://connect.sensiolabs.com/profile/wajih">
                                        Wajih OUERIEMI  </a>
                                 </span>
                            </td>
                        </tr>

                        <tr class="talk odd">
                            <th class="hours">15:10<br>15:30</th>
                            <td width="100%" colspan="1">

                                <span class="schedule-title">
                                    <a>Lightning Talks</a>
                                </span>
                                <br>
                                 <span class="schedule-speaker">
                                    <a target="_blank" href="https://connect.sensiolabs.com/profile/fabpot">
                                        Fabien Potencier</a>
                                 </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="box_rows_2">
                        <div class="speaker clearfix" id="session-1404">

                            <div class="photo hidden-xs">
                                <a target="_blank" href="https://connect.sensiolabs.com/profile/fabpot">
                                    <img src="https://connect.sensiolabs.com/api/images/4aed4f5d-e0cb-4320-902f-885fddaa7d15.png?format=120x120">
                                </a>
                            </div>

                            <div class="session">

                                <p class="speaker">

                                    <a target="_blank" href="https://connect.sensiolabs.com/profile/fabpot">
                                        Fabien Potencier
                                    </a>
                                </p>

                                <p class="comment">
                                    Fabien Potencier
                                </p>
                            </div>
                        </div>
                        <div class="speaker clearfix" id="session-1440">

                            <div class="photo hidden-xs">
                                <a target="_blank" href="https://connect.sensiolabs.com/profile/pborreli">
                                    <img src="https://secure.gravatar.com/avatar/5c299a02c11ce797f20df385f560a16a?s=100&d=https%3A%2F%2Fdoschzharf1i9.cloudfront.net%2Fpersonal_assets%2Fuser%2F100x100%2Favatar-default.png">
                                </a>
                            </div>


                            <div class="session">

                                <p class="speaker">

                                    <a target="_blank" href="https://connect.sensiolabs.com/profile/pborreli">
                                        Pascal Borreli
                                    </a>
                                </p>

                                <p class="comment">
                                    Consultant technique chez aYaline, Pascal est expert dans les technologies Web, PHP
                                    et Symfony. De par son poste en agence web mais aussi en tant que membre actif de la
                                    communauté Symfony depuis sa création, Pascal contribue à de nombreux projets open
                                    source. Il est à la recherche de pratiques toujours plus innovantes pour améliorer
                                    la production et la qualité de ses projets.

                                </p>
                            </div>
                        </div>

                        <div class="speaker clearfix" id="session-1440">

                            <div class="photo hidden-xs">
                                <a target="_blank" href="https://connect.sensiolabs.com/profile/rande">
                                    <img src="https://connect.sensiolabs.com/api/images/01cb88f0-6f3f-422e-b6c1-523bbb99e943.png?format=120x120">
                                </a>
                            </div>


                            <div class="session">

                                <p class="speaker">

                                    <a target="_blank" href="https://connect.sensiolabs.com/profile/rande">
                                        Thomas Rabaix
                                    </a>
                                </p>

                                <p class="comment">
                                    Thomas Rabaix
                                </p>
                            </div>
                        </div>
                        <div class="speaker clearfix" id="session-1440">

                            <div class="photo hidden-xs">
                                <a target="_blank" href="https://connect.sensiolabs.com/profile/bschussek">
                                    <img src="https://secure.gravatar.com/avatar/24d20907afea0f684e62d620b886af16?s=100&d=https%3A%2F%2Fdoschzharf1i9.cloudfront.net%2Fpersonal_assets%2Fuser%2F100x100%2Favatar-default.png">
                                </a>
                            </div>


                            <div class="session">

                                <p class="speaker">

                                    <a target="_blank" href="https://connect.sensiolabs.com/profile/bschussek">
                                        Bernhard Schussek
                                    </a>
                                </p>

                                <p class="comment">
                                    Bernhard Schussek
                                </p>
                            </div>
                        </div>
                        <div class="speaker clearfix" id="session-1440">

                            <div class="photo hidden-xs">
                                <a target="_blank" href="https://connect.sensiolabs.com/profile/couac">
                                    <img src="https://secure.gravatar.com/avatar/9a5afa8bda0480b6a05a6be380ee9949?s=100&d=https%3A%2F%2Fdoschzharf1i9.cloudfront.net%2Fpersonal_assets%2Fuser%2F100x100%2Favatar-default.png">
                                </a>
                            </div>


                            <div class="session">

                                <p class="speaker">

                                    <a target="_blank" href="https://connect.sensiolabs.com/profile/couac">
                                        William Durand
                                    </a>
                                </p>

                                <p class="comment">
                                    William Durand
                                </p>
                            </div>
                        </div>
                        <div class="speaker clearfix" id="session-1440">

                            <div class="photo hidden-xs">
                                <a target="_blank" href="https://connect.sensiolabs.com/profile/rmed19">
                                    <img src="https://secure.gravatar.com/avatar/01739d9787012938769d13f4eba5dd85?s=100&d=https%3A%2F%2Fdoschzharf1i9.cloudfront.net%2Fpersonal_assets%2Fuser%2F100x100%2Favatar-default.png">
                                </a>
                            </div>


                            <div class="session">

                                <p class="speaker">

                                    <a target="_blank" href="https://connect.sensiolabs.com/profile/rmed19">
                                        Mohammed Rhamnia
                                    </a>
                                </p>

                                <p class="comment">
                                    Mohammed Rhamnia
                                </p>
                            </div>
                        </div>
                        <div class="speaker clearfix" id="session-1440">

                            <div class="photo hidden-xs">
                                <a target="_blank" href="https://connect.sensiolabs.com/profile/wajih">
                                    <img src="https://i0.wp.com/doschzharf1i9.cloudfront.net/personal_assets/user/100x100/avatar-default.png?ssl=1">
                                </a>
                            </div>


                            <div class="session">

                                <p class="speaker">

                                    <a target="_blank" href="https://connect.sensiolabs.com/profile/wajih">
                                        Wajih OUERIEMI
                                    </a>
                                </p>

                                <p class="comment">
                                    Wajih OUERIEMI
                                </p>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>