<article class="span6">
    <h3>Shortly about me</h3>

    <div class="wrapper">
        <figure class="img-indent">
            <div class=""><img style="visibility: visible; opacity: 1;"
                               src="{{ asset('bundles/stcsite/img/page1-img5.jpg') }}"
                               alt=""></div>
        </figure>
        <div class="inner-1 overflow extra">
            <div class="txt-1">Sed ut perspictis unde omnis natus error volupatem accusantium doloue
                laudantium, totam rem.
            </div>
            Aperiam, eaque ipsa quae ab illo veritatis et beatae vitae dicta sunt explicabo nemo enim
            ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed
        </div>
    </div>
</article>