<div class="work span8">
    <div class="presentation-title">
        <h3>C'est quoi symfony?</h3>
    </div>
    <img src="{{ asset('bundles/stcsite/img/fabien.jpg') }}">

    <div class="presentation-gray">
        <p> Symfony est un Framework PHP Open-Source, dont l’objectif est de développer des applications web
            professionnelles en utilisant le langage PHP.
        </p>
    </div>
    <p>Symfony apporte une architecture, des composants et des outils pour que les développeurs construisent des
        applications web complexes plus rapidement. Choisir Symfony permet de publier vos applications plus tôt, de les
        héberger et de les diffuser sans problème, et ainsi de les maintenir dans le temps sans mauvaise surprise.
        Symfony est basé sur l’expérience. Des milliers de développeurs font désormais confiance à Symfony pour leurs
        applications.Symfony est utilisé par de nombreuses entreprises comme Yahoo!, Dailymotion, Ted.com, Electronic
        Arts, Orange, Arianespace, et bien d’autres encore. Plus de détails sur :
        <a target="_blank" href="http://symfony.com">www.symfony.com</a>
    </p>
</div>