<article class="span6">
    <h3>
        C’est quoi Symfony ?
    </h3>

    <div class="wrapper">
        <figure class="img-indent">
            <div class="">
                <img style="visibility: visible; opacity: 1;"
                     src="{{ asset('bundles/stcsite/img/stc/fabien.png') }}"
                     alt="Fabien Potencier" title="Fabien Potencier" width="270" height="321">
            </div>
        </figure>
        <div class="inner-1 overflow extra">
            <div class="txt-1">
                Symfony est un Framework PHP Open-Source, dont l’objectif est de développer des applications web
                professionnelles en utilisant le langage PHP.
            </div>
            Symfony apporte une architecture, des composants et des outils pour que les développeurs construisent des
            applications web complexes plus rapidement.
            Choisir Symfony permet de publier vos applications plus tôt, de les héberger et de les diffuser sans
            problème, et ainsi de les maintenir dans le temps sans mauvaise surprise.
            Symfony est basé sur l’expérience. Des milliers de développeurs font désormais confiance à Symfony pour
            leurs applications.Symfony est utilisé par de nombreuses entreprises comme Yahoo!, Dailymotion, Ted.com,
            Electronic Arts, Orange, Arianespace, et bien d’autres encore.
            Plus de détails sur : www. symfony.com

        </div>
    </div>
</article>