<div class="bg-content">
    <div class="container">
        <div class="row">
            <div class="span12">
                {{ render(controller('STCSiteBundle:Site:slider')) }}
                {% include "STCSiteBundle:Site:welcome.html.twig" %}
            </div>
        </div>
    </div>
</div>
{% include "STCEventBundle:Event:lastEvent.html.twig" %}
<div class="container">
    <div class="row">
        {% include "STCSiteBundle:Site:aboutMe.html.twig" %}
        {{ render(controller('STCSiteBundle:Site:sponsor')) }}
    </div>
</div>