<!--============================== slider =================================-->
<div class="flexslider">
    <ul class="slides">
        {% for entity in entities %}
            <li class=""
                style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;">
                <img src="{{ asset('bundles/stcsite/img/slide-5.jpg') }}" alt=""></li>
        {% endfor %}
    </ul>
    <ul class="flex-direction-nav">
        <li><a class="flex-prev" href="#"></a></li>
        <li><a class="flex-next" href="#"></a></li>
    </ul>
</div>
<span id="responsiveFlag"></span>