<!--============================== slider =================================-->
<div class="flexslider">
    <ul class="slides">
        {% for entity in entities %}
            <li class="" style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;">
                {% media entity.media, 'show' with {'alt': entity.name,'title': entity.name } %}
            </li>
        {% endfor %}
    </ul>
    <ul class="flex-direction-nav">
        <li><a class="flex-prev" href="#"></a></li>
        <li><a class="flex-next" href="#"></a></li>
    </ul>
</div>
<span id="responsiveFlag"></span>