<!--============================== slider =================================-->
<div class="flexslider">
    <div class="flex-viewport">
        <ul class="slides">

            {% for entity in entities %}
                <li class="clone">
                    {% media entity.media, 'show' with {'alt': entity.name,'title': entity.name } %}
                    <p class="flex-caption">{{ entity.dec }}.</p>
                </li>
            {% endfor %}
        </ul>
    </div>
    <ul class="flex-direction-nav">
        <li><a class="flex-prev" href="#"></a></li>
        <li><a class="flex-next" href="#"></a></li>
    </ul>
</div>
<span id="responsiveFlag"></span>