<div class="container">
    <div class="row">
        <div class="span10 offset1">
            <div class="flexslider">
                <ul class="slides">
                    {% for entity in entities %}
                        <li data-thumb="{% path entity.media, 'small' %}">
                            {% media entity.media, 'show' with {'alt': entity.name,'title': entity.name } %}
                            <p class="flex-caption">{{ entity.name }}.</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
