<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="span12">
                <i class="icon-tasks page-title-icon"></i>

                <h2>Symfony TN /</h2>

                <p>Formations</p>
            </div>
        </div>
    </div>
</div>
<div class="services-full-width container">
    <div class="row">
        <div class="services-full-width-text span12">
            <h4>A propos Formations</h4>

            <p>
                Le Jeudi 16 avril et le samedi 18 avril, plusieurs formations Symfony sont organisées pour améliorer vos
                connaissances sur le framework Symfony. Nous vous proposons 4 formations différentes, réparties sur des
                ateliers de 6 h par formation.
            </p>
        </div>
        <div id="container">


            <section id="main_content">
                <ul id="news-list">
                    <li class="inline-news" data-id="76" id="news-76">
                        <span class="news-date">
                            <time datetime="2015-04-16" title="le 16/04/2015">
                                Jeudi 16 avril
                            </time>
                        </span>
                        <span class="news-title">Pascal Borreli</span>
                        <span class="news-body">
                            <p>
                                Intégration continue avec Symfony 2, Composer et Jenkins
                            </p>
                        </span>
                    </li>

                    <li class="inline-news" data-id="75" id="news-75">
                        <span class="news-date">
                            <time datetime="2015-04-16" title="le 16/04/2015">
                                Jeudi 16 avril
                            </time>
                        </span>
                        <span class="news-title">
                            Bernhard Schussek
                        </span>
                        <span class="news-body">
                            <p>Puli</p>
                        </span>
                    </li>

                    <li class="inline-news" data-id="75" id="news-75">
                        <span class="news-date">
                            <time datetime="2015-04-17" title="le 17/04/2015">
                                Samedi 18 avril
                            </time>
                        </span>
                        <span class="news-title">
                            Thomas Rabaix
                        </span>
                        <span class="news-body">
                            <p>Sonata</p>
                        </span>
                    </li>

                    <li class="inline-news" data-id="75" id="news-75">
                        <span class="news-date">
                            <time datetime="2015-04-18" title="le 18/04/2015">
                                Samedi 18 avril
                            </time>
                        </span>
                        <span class="news-title">
                            William Durand
                        </span>
                        <span class="news-body">
                            <p>REST : De Zéro à Héros</p>
                        </span>
                    </li>

                </ul>
            </section>

        </div>

    </div>
</div>
