<h2>Symfony <span class="red">TN</span></h2>

<p>
    Il s’agit d’un événement unique dans un pays arabe et en Afrique.<br>
    C’est une occasion d’entrer en contact avec des développeurs web, des administrateurs système,<br>
    et des managers à forte influence qui travaillent avec les technologies Open‐Source en Tunisie et en Afrique .
</p>