<div class="block-slogan">
    <h2>SYMFONYTN</h2>

    <div>
        <p><a href="http://blog.templatemonster.com/free-website-templates/ "
              target="_blank"
              class="link-1">Click here</a> Il s’agit d’un événement unique dans un pays arabe et en Afrique.
            </br>
             C’est une occasion d’entrer en contact avec des développeurs web, des administrateurs système et des
            managers à forte influence qui travaillent avec les technologies Open‐Source en Tunisie et en Afrique .

        </p>
    </div>
</div>