<div class="block-slogan">
    <h2>Welcome!</h2>
    <div>
        <p><a href="http://blog.templatemonster.com/free-website-templates/ "
              target="_blank"
              class="link-1">Click here</a> for more info about this free website template
            created by
            TemplateMonster.com. This is a Bootstrap template that goes with several layout
            options (for
            desktop, tablet, smartphone landscape and portrait) to fit all popular screen
            resolutions.
            The PSD source files of this template are available for free for the registered
            members of
            TemplateMonster.com. Feel free to get them!</p>
    </div>
</div>