<div class="bg-content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <img alt="" src="{{ asset('bundles/stcsite/img/stc/about.png') }}" class="img-404">

                <h1> La communauté Tunisienne de Symfony</h1>

                <div class="block-description">
                    <p>
                        Nous sommes des fans autour du framework Symfony, des développeurs, des chefs de projets,
                        des
                        étudiants et des chefs d’entreprises doués par ce fameux framework php.
                        Une communauté qui englobe ses compétences dans une seule plateforme intellectuelle pour
                        partager
                        notre savoir-faire avec nos collaborateurs.
                    </p>

                    <p>
                        Notre Objectif et de créer un groupe leader dans la technologie Symfony en Tunisie. Faire
                        connaître
                        Symfony à tous les étudiants dans le domaine IT à travers des workshops et des formations
                        organisés
                        dans les universités, afin de préparer un milieu favorable pour les entreprises en matière
                        de
                        ressources techniques.

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>