<div class="bg-content">
    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="span12"><i class="icon-user page-title-icon"></i>

                    <h2>A propos de nous /</h2>

                    <p>La communauté Tunisienne de Symfony </p>
                </div>
            </div>
        </div>
    </div>

    <div class="about-us container">
        <div class="row">
            <div class="about-us-text span12">
                <h4>A propos Symphony TN</h4>
                <p> Nous sommes des fans autour du <span class="red">framework Symfony</span>, des développeurs, des chefs de projets, des étudiants et des chefs d’entreprises doués par ce fameux <strong>framework php</strong>. <br>
                    Une communauté qui englobe ses compétences dans une seule plateforme intellectuelle pour partager notre savoir-faire avec nos collaborateurs.</p>
                <p> Notre Objectif et de créer un groupe leader dans la technologie <strong>Symfony</strong> en <span class="red">Tunisie</span>. Faire connaître <strong>Symfony</strong> à tous les étudiants dans le domaine <strong>IT</strong> à travers des workshops et des formations organisés dans les universités, afin de préparer un milieu favorable pour les entreprises en matière de ressources techniques. </p>
            </div>
        </div>
    </div>



</div>
