<div id="content">
    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="span12"><i class="icon-calendar page-title-icon"></i>

                    <h2>Evénements /</h2>

                    <p>Vous trouverez ici tous nos événements</p>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio portfolio-page container">

        {% for entity in entities %}
            <ul class="thumbnails thumbnails-1 clearfix">
                <div class="row">
                    <div class="work">
                        <ul class="portfolio-img">
                            <li data-id="p-1" data-type="web-design" class="span3">
                                <div class="thumbnail thumbnail-1">

                                    {% media entity.image, 'show' with {'alt': entity.title,'title': entity.title } %}

                                    <section>
                                        <p>{{ entity.description }}</p>

                                        <a href="{{ path('event_show', {'slug': entity.slug }) }}" class="type-7">
                                            <span> </span> <span> En savoir plus </span>
                                        </a>
                                    </section>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </ul>
        {% endfor %}

    </div>
</div>
</div>
</div>
