<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="span12"><i class="icon-calendar page-title-icon"></i>

                <h2>Evénements /</h2>

                <p>Vous trouverez ici tous nos événements</p>
            </div>
        </div>
    </div>
</div>
<div class="portfolio portfolio-page container">
    <div class="row">
        <ul class="portfolio-img">
            {% for entity in entities %}
                <li data-id="p-1" data-type="web-design" class="span3">
                    <div class="work">
                        <a rel="prettyPhoto">{% media entity.image, 'show' with
                            {'alt': entity.title,'title': entity.title } %}
                        </a>

                        <h4>{{ entity.title }}</h4>

                        <p>{{ entity.description }}</p>

                        <a href="{{ path('event_show', {'slug': entity.slug }) }}" class="type-7">
                            <span> </span> <span> En savoir plus </span>
                        </a>

                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>



