<div class="ic">More Website Templates @ TemplateMonster.com. November19, 2012!</div>
<div class="row-1">
    <div class="container">
        <div class="row">
            <ul class="thumbnails thumbnails-1">
                <li class="span3">
                    <div class="thumbnail thumbnail-1">
                        <h3>Fashion</h3>

                        <div class=""><img style="visibility: visible; opacity: 1;"
                                           src="{{ asset('bundles/stcsite/img/page1-img1.jpg') }}"
                                           alt=""></div>
                        <section><strong>At vero eos et accusamus et iusto </strong>

                            <p>Odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
                            <a href="#" class="btn btn-1">Read More</a></section>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail thumbnail-1">
                        <h3>Nature</h3>

                        <div class=""><img style="visibility: visible; opacity: 1;"
                                           src="{{ asset('bundles/stcsite/img/page1-img2.jpg') }}"
                                           alt=""></div>
                        <section><strong>Deleniti atque corrupti quos</strong>

                            <p>Dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                            <a href="#" class="btn btn-1">Read More</a></section>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail thumbnail-1">
                        <h3>Love story</h3>

                        <div class=""><img style="visibility: visible; opacity: 1;"
                                           src="{{ asset('bundles/stcsite/img/page1-img3.jpg') }}"
                                           alt=""></div>
                        <section><strong>Similique sunt in culpa qui officia </strong>

                            <p>Deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                            <a href="#" class="btn btn-1">Read More</a></section>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail thumbnail-1">
                        <h3 class="title-1 extra">Fine art</h3>

                        <div class=""><img style="visibility: visible; opacity: 1;"
                                           src="{{ asset('bundles/stcsite/img/page1-img4.jpg') }}"
                                           alt=""></div>
                        <section><strong>Similique sunt in culpa qui officia</strong>

                            <p>Deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                            <a href="#" class="btn btn-1">Read More</a></section>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>