<div id="content">
    <div class="container">
        <div class="row">
            <article class="span12">
                <h1>{{ entity.title }}</h1>
            </article>
            <div class="clear"></div>
            <article class="sonata-blog-post-container">
                <header>
                    <div class="sonata-blog-post-date-container">
                        <h5>
                            <i class="icon-calendar"></i>
                            {{ entity.date | format_date }}
                        </h5>
                    </div>
                </header>

                <div class="sonata-blog-post-content">
                    {{ entity.content|raw }}
                </div>
            </article>
        </div>
    </div>
</div>
