<div id="content">
    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="span12"><i class="icon-camera page-title-icon"></i>

                    <h2>Evénements /</h2>

                    <p>{{ entity.title }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="portfolio portfolio-page container events">
        <div class="portfolio-navigator span12"><img src="bundles/stcsite/img/ttt.jpg" alt="">
            <h5>Lieu : <span class="red">{{ entity.date | format_date }}</span></h5>
        </div>
        <div class="sonata-blog-post-content">
            {{ entity.content|raw }}
        </div>
    </div>
</div>

