{% extends sonata_block.templates.block_base %}

{% block block %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="widget span3">
                    <h5><a href="{{ path('whoWeAre') }}">Qui sommes-nous</a></h5>
                    <h5><a href="{{ path('home') }}">Home</a></h5>
                    <h5><a href="{{ path('symfonyTn') }}">Symphony-TN 2014</a></h5>


                </div>
                <div class="widget span3">
                    <h4>Derniers Tweets</h4>
                    <div class="show-tweets">
                        {% include 'STCSiteBundle:Block:tweet.html.twig' %}
                    </div>
                </div>
                <div class="widget span3">
                    <h4>Facebook Photos</h4>
                    <ul class="flickr-feed">
                    </ul>
                </div>
                <div class="widget span3">
                    <h4>Contactez-nous</h4>
                    <p><i class="icon-map-marker"></i> Address: Via Principe Amedeo 9, 10100, Torino, TO, Italy</p>
                    <p><i class="icon-phone"></i> Phone: 0039 333 12 68 347</p>
                    <p><i class="icon-user"></i> Skype: Andia_Agency</p>
                    <p><i class="icon-envelope-alt"></i> Email: <a href="">contact@andia.co.uk</a></p>
                </div>
            </div>
            <div class="footer-border"></div>
            <div class="row">
                <div class="copyright span6">
                    <p> Symfony is a trademark of Fabien Potencier. All rights reserved. <a href="symfony.com">symfony.com</a></p>
                </div>
                <div class="social span6">
                    <a class="sensio" href="//connect.sensiolabs.com/club/symfony-tunisia-community"></a>
                    <a class="twitter" href="//twitter.com/SymfonyTunisia"></a>
                    <a class="facebook" href="//www.facebook.com/Symfony.TN?ref=ts&fref=ts"></a>
                    <a class="googleplus" href=""></a>
                    <a class="github" href="//github.com/SymfonyTunisia"></a>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}