{% extends sonata_block.templates.block_base %}

{% block block %}
    <footer>
        <div class="container clearfix">
            <ul class="list-social pull-right">
                <li><a class="icon-1" href="https://www.facebook.com/Symfony.TN" target="_blank"></a></li>
                <li><a class="icon-2" href="#" target="_blank"></a></li>
                <li><a class="icon-4" href="https://twitter.com/SymfonyTunisia" target="_blank"></a></li>
            </ul>
            <div class="privacy pull-left">© Symfony is a trademark of Fabien Potencier. All rights reserved.
                <a href="http://symfony.com/" target="_blank" rel="nofollow">symfony.com</a>
            </div>
        </div>
    </footer>
{% endblock %}