<div class="container">
    <div class="row-fluid">
        <div class="span8">
            <p>2013 &copy; Unify. ALL Rights Reserved. <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
        </div>
        <div class="span4">
            <a href="index.html"><img id="logo-footer" src="{{ asset('bundles/stcsite/images/logo2-default.png')}}" class="pull-right" alt="" /></a>
        </div>
    </div><!--/row-fluid-->
</div><!--/container-->