{% extends '::base.html.twig' %}
{% block body %}
{% block header %}
<div class="top">
    {% include 'STCSiteBundle::top.html.twig' %}
</div>
<div class="header">
    {% include 'STCSiteBundle::header.html.twig' %}
</div>
{% endblock %}
{% block content %}
{% endblock %}
{% block footer %}
<div class="footer">
    {% include 'STCSiteBundle::footer.html.twig' %}
</div>
<div class="copyright">
    {% include 'STCSiteBundle::copyright.html.twig' %}
</div>
{% endblock %}
{% endblock %}