<div class="validation">
    <div>
        <div class="validation-msg">
            <div class="iconfont-okey okey">
                <h2>Votre demande<br> a bien été prise en compte !</h2>
            </div>
            </div>
        </div>
        <a class="retour iconfont-arrow-left" href="{{ path('home') }}">
            <span class="margin-top">retour à la page d'accueil</span>
        </a>
    </div>
</div>