<div id="content">
    <div class="container">
        <div class="row">
            <article class="span12">
                <div class="validation">

                    <div class="validation-msg">
                        <div class="iconfont-okey okey">
                            <h2>Votre demande<br> a bien été prise en compte !</h2>
                        </div>
                    </div>

                    <a class="retour iconfont-arrow-left" href="{{ path('home') }}">
                        <span class="margin-top">retour à la page d'accueil</span>
                    </a>
                </div>
            </article>
        </div>
    </div>
</div>