<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="span12"><i class="icon-envelope-alt page-title-icon"></i>

                <h2>Contactez-nous /</h2>

                <p>N'hésitez pas à nous contacter</p>
            </div>
        </div>
    </div>
</div>
<div class="contact-us container">
    <div class="row">
        <div class="contact-form span7">

            <p>Votre demande<br> a bien été prise en compte !</p>

            <a class="retour iconfont-arrow-left" href="{{ path('home') }}">
                <span class="margin-top">retour à la page d'accueil</span>
            </a>
        </div>
    </div>
</div>